<% layout('../layout') -%>

<div class="panel panel-success">
  <div class="panel-heading">
    <h1 class="panel-title">Administración de roles</h1>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th> Nombre de usuario  </th>
          <th> Id </th>
          <th> Fecha de modificación </th>
          <th> Activo </th>
        </tr>

      </thead>
      <% data.forEach(function(user){ %>
        <tr>
          <td> <%= user.code %>  </td>
          <td> <%= user.id %> </td>
          <td> <%= new Date(user.mtime) %> </td>
          <td>
            <div class="checkbox">
              <label>
                <input type="checkbox" <%= 'onclick=modifyActivation(this,"' + user._id + '")'%>
                <%= (user.isActivated() ? 'checked=checked' : '')%> value="activated">
                <% console.log(user.code) %>
                <% console.log(user.isActivated())  %>
                Activado
              </label>
            </div>

          </td>
          <td>
            <div class="btn-group">
              <button class="btn btn-danger" value=<%= user._id %>  onclick="deleteUser(this);"> Delete </button>
            </div>
          </td>

      </tr>
      <% }) %>
    </table>
  </div>
</div>

<script src="/js/admin/admin.js"> </script>
