<% layout('layout') -%>

<h2>Nueva cuenta</h2>
<form action='/users/signup' method='post' class='form-horizontal'>
  <div class='form-group'>
    <label for='inputName' class='col-sm-2 control-label'>Nombre completo:</label>
    <div class='col-sm-7'>
      <input type='text' name='name' id='inputName' class='form-control'/>
    </div>
  </div>
  <div class='form-group'>
    <label for='inputCode' class='col-sm-2 control-label'>Código :</label>
    <div class='col-sm-7'>
      <input type='text' name='code' id='inputCode' class='form-control'/>
    </div>
  </div>
  <div class='form-group'>
    <label for='inputEmail' class='col-sm-2 control-label'>Correo electrónico :</label>
    <div class='col-sm-7'>
      <input type='email' name='email' id='inputEmail' required='required' class='form-control'/>
    </div>
  </div>
  <div class='form-group'>
    <label for='inputPassword' class='col-sm-2 control-label'>Contraseña :</label>
    <div class='col-sm-7'>
      <input type='password' id='inputPassword' name='password' class='form-control'/>
    </div>
  </div>
  <div class='form-group'>
    <label for='inputPassword2' class='col-sm-2 control-label'>Confirmar contraseña :</label>
    <div class='col-sm-7'>
      <input type='password' id='inputPassword2' name='passwordConfirm' class='form-control'/>
    </div>
  </div>
  <button type='submit' value='submit' class='btn btn-primary'>Crear cuenta</button>
</form>
