extends layout

block pageTitle
  h1#cname Sign in

//arreglar, averiguar como se hace un div

block textComponent
  .container
  form.form-horizontal(role='form',action="/login", method="post",)
  h2.form-signin-heading Iniciar sesión
  input.form-control(type='number', placeholder='Código', required='', autofocus='')
  input.form-control(type='password', placeholder='Password', required='')
  button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
