extends layout

block textComponent
  form(action='/signin', method='post', role='form', class='form-horizontal')
    .form-group
      label(for='inputUser', class='col-sm-2 control-label') Username:
      .col-sm-5
        input(type='text', name='username', class='form-control', id='inputUser')
    .form-group
      label(for='inputPassword', class='col-sm-2 control-label') Password
      .col-sm-5
        input(type='password', class='form-control', id='inputPassword3', name='password')
    .col-sm-5
      button(type='submit', class='btn btn-primary') Login
