extends layout

block textComponent
  form
    textarea(id= 'prueba', class='form-control', rows='25')
    //input(type= 'text', id= 'nombre')
    input(type= 'button', value='Save', class= 'btn btn-success', id='guardar', onclick="guardarCodigo()")
    input(type= 'button', value= 'Compilar y ejecutar', class= 'btn btn-default', id= 'compilar', onclick= "compilarCodigo()" disabled)
    //input(type= 'button', value= 'Ejecutar', class= 'btn btn-danger', id= 'ejecutar', onclick= "ejecutarCodigo()" disabled)
    textarea(id= 'textAreaCompileError', class= 'form-control', rows='10')
    script.
      var editor = CodeMirror.fromTextArea(document.getElementById('prueba'),{
        lineNumbers: true,
        matchBrackets: true,
        indentUnit: 2,
        smartIndent: true,
        tabSize: 2,
        mode: "text/x-csrc"
      });
