<% layout('../layout') -%>


<div class='panel panel-success'>
  <div class='panel-heading'>
    <h1 class='panel-title'>Administración de bugs</h1>
  </div>
  <div class='panel-body'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th> Usuario que reporta </th>
          <th> Tipo </th>
          <th> Fecha de modificación </th>
          <th> Descripción </th>
          <th> Adicionar comentario </th>
          <th> Marcar como resuelto </th>
        </tr>

      </thead>
      <% data.forEach(function(bug){ %>
        <tr>
          <td> <%= bug.reporter %>  </td>
          <td> <%= bug.type %>  </td>
          <td> <%= new Date(bug.mtime) %> </td>
          <td> <%= bug.desc %> </td>
          <td> <textarea name='bugNotes' class='form-control' placeholder='Solución'></textarea> </td>
          <td> <button type='button' class='btn btn-info' <%= 'onclick=resolve("' + bug._id + '")'%> > Resolver </button> </td>
      </tr>
      <% }) %>
    </table>
  </div>
</div>

<a href='/bugs/all' class='btn btn-info'> Ver los bugs resueltos </a>

<script type='text/javascript' src='/js/bugs/bug.js'></script>
