<% layout('../layout') -%>


<div class="panel panel-success">
  <div class="panel-heading">
    <h1 class="panel-title">Listado de bugs</h1>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th> Usuario que reporta </th>
          <th> Tipo </th>
          <th> Fecha de modificación </th>
          <th> Descripción </th>
          <th> Comentario </th>
        </tr>

      </thead>
      <% data.forEach(function(bug){ %>
        <tr>
          <td> <%= bug.reporter %>  </td>
          <td> <%= bug.type %>  </td>
          <td> <%= new Date(bug.mtime) %> </td>
          <td> <%= bug.desc %> </td>
          <td> <%= bug.notes %> </td>
      </tr>
      <% }) %>
    </table>
  </div>
</div>
