<% layout('../layout') -%>
<div class='container'>

<form action='/users/signin' method='post' role='form' class='form-signin'>
  <h2 class='form-signin-heading'>Please Sign in</h2>
    <label for='inputUser' class='sr-only' >Code</label>
    <input type='text' name='code' id='inputUser' class='form-control' placeholder='Code'required autofocus/>
    <label for='inputPassword' class='sr-only'>Password</label>
    <input type='password' id='inputPassword' name='password' class='form-control' placeholder='Password' required/>
    <button type='submit' class='btn btn-lg btn-primary btn-block'>Sign in</button>
</div>
</form>
